.el-breadcrumb {
  background-color: #D3DCE6;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  line-height: 45px;
  margin-bottom: 15px;
}
.el-tabs__item {
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  padding: 0 40px;
}
.el-tabs--left .el-tabs__header.is-left {
  margin-right: 60px;
  margin-top: 50px;
}
.el-collapse-item__header {
  font-size: 20px;
}
.el-card__body {
  padding: 15px;
}
